.canvas
	%table.table
		%thead
			%tr 
				%th 
				%th HTML
				%th RDF
				%th RDFa
				%th Notation3/ Turtle
				%th JSON-LD
				%th.lode-label.reveal Lodescript
		%tbody
			%tr 
				%th Human readability
				%td.poor poor
				%td.poor poor
				%td.poor poor
				%td.avg average
				%td.avg average
				%td.exc.reveal excellent
			%tr 
				%th Machine readability
				%td.poor poor
				%td.exc excellent
				%td.exc excellent
				%td.exc excellent
				%td.exc excellent
				%td.avg.reveal average
			%tr 
				%th Verbosity
				%td.poor poor
				%td.poor poor
				%td.good good
				%td.exc excellent
				%td.good good
				%td.good.reveal good
			%tr 
				%th "Hand-codability"
				%td.poor poor
				%td.poor poor
				%td.avg average
				%td.exc excellent
				%td.avg average
				%td.avg.reveal average
			%tr 
				%th I hate punctuation
				%td.poor poor
				%td.poor poor
				%td.poor poor
				%td.poor poor
				%td.poor poor
				%td.exc.reveal excellent
			%tr 
				%th Structural expressiveness
				%td.avg average
				%td.exc excellent
				%td.exc excellent
				%td.exc excellent
				%td.exc excellent
				%td.good.reveal good
			%tr 
				%th Attribution
				%td.poor poor
				%td.exc excellent
				%td.exc excellent
				%td.exc excellent
				%td.exc excellent
				%td.good.reveal good
